@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Comic Neue", sans-serif;
  font-style: normal;
  background-color: #f2f5f9 ;

}

h1 {
  font-weight: 700;
  font-size: 3.6rem;
  color: #f1f4f7;
  padding-left: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #18273a;
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  gap: 4.8rem;
  width: 100%;
  padding: 2rem 10%;
}

.scores {
  width: 100%;
 
}

.scores__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.4rem;
}

.scores__body {
  margin-top: 1.6rem;
 
}

.scores__list {
  padding: 0.2rem 0.5rem;
  background-color: #fff;
  margin-top: 1.6rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  box-shadow: #ecf3f9 0px 3px 5px;
}

.scores__list:hover {
  transform: scale(1.03, 1.2);


}


.scores__list:nth-child(even) {
  background-color: #cce5ff;
}

.scores__list-p{
  display: grid;
  grid-template-columns: 35% 65%;
}

.scores__list-user{
  color: #18273a;
  font-weight: 700;
}

.add_score {
  width: 100%;
  
}

.add_score__form {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
  gap: 1.6rem;
}

.add_score__form > input {
  font-family: "Comic Neue", sans-serif;
  padding: 0.5rem 0.5rem;
  border: 1px solid #18273a;
  border-radius: 1rem;
}

.add_score__form > input:focus{
  outline-color: #18273a;
}

.btn {
  padding: 0.2rem 1rem;
  background-color: transparent;
  cursor: pointer;
  background-color: #18273a ;
  color: #fff;
  font-weight: 700;
  border-color: #18273a;
  border-radius: 0.5rem;
}
.btn:hover{
  background-color: #007bff;
  border-color: #007bff;
}

.btn-add {
  align-self: flex-end;
}

.icon-trophy {
  color: #fff;
}

.icon-Medal{
  padding-right: 1rem;
  color: #18273a;
}


@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .scores {
    width: 50%;
  }

  .add_score {
    width: 50%;
    padding: 0 8rem;
  }
}